@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(90deg, #8DB8E5 , #5589DD);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #263b5ed2;
}

h1 {
    color: #5EA53F;
    text-align: center;
    text-shadow: 1px 1px 2px #ff0000;
}

h2 {
    color: #03318C;
}

p {
    text-align: justify;
}

